<link rel="stylesheet" href="/css/userProfile.css">
<h1>
    Interventus / Profile Page
</h1>
<button><a href="/users/signout">Signout</a></button>
<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>